<footer class="site-footer h-card">
  <data class="u-url" href="/minima/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name">Heather M. Kopp</li>
            <li><a class="u-email" href="mailto:hmk439@mail.missouri.edu">hmk439@mail.missouri.edu</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
    <ul class="social-media-list">
    
    </div>
  </div>
</footer>

<div class="sub-footer">
  ::before
  <div id="skin-switch-container" style="display: block;">
    " Page rendered with the "
    <select id="skin-switch" onchange="changeSkin()">
      <option value="dark.css">dark</option>
      <option value="style.css">classic</option>
    </select>
    " skin of Minima theme."
  </div>
</div>

<script>
  document.getElementById("skin-switch-container").style.display="block";
  var metaTag = document.getElementById("stylesheet");
  var SSHref = metaTag.href;
  var SSName = (SSHref.substring(SSHref.lastIndexOf('/') + 1));

  document.getElementByID("skin-switch").value = SSName;

  function changeSkin() {
    metaTag.href = SSHref.replace(SSName, event.target.value);
  }
</script>
