<footer class="site-footer h-card">
  <data class="u-url" href="/minima/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name">Heather M. Kopp</li>
            <li><a class="u-email" href="mailto:hmk439@mail.missouri.edu">hmk439@mail.missouri.edu</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
    <ul class="social-media-list">
      <li>
        <a rel="me" href="https://scholar.google.com/citations?user=u6EcVJoAAAAJ&hl" target="_blank" title="google_scholar">
          <svg class="scg-icon grey">
            <use xlink:href="/minima/assets/minima-social-icons.svg#google_scholar"></use>
          </svg>
        </a>
      </li>
       <li>
        <a rel="me" href="https://heatherkopp.github.io" target="_blank" title="github">
          <svg class="scg-icon grey">
            <use xlink:href="/minima/assets/minima-social-icons.svg#github"></use>
          </svg>
        </a>
      </li>
             <li>
        <a rel="me" href="https://twitter.com/hmkopp6" target="_blank" title="twitter">
          <svg class="scg-icon grey">
            <use xlink:href="/minima/assets/minima-social-icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </div>

  </div>

</footer>
